<md-card>
   <md-card-content>
      <h2>Pubmed Entry</h2>

      <form name=pubmedEntry
            app-form-meta=vm.fields
            novalidate>
         <pre><code>Meta:{{$id}}:{{vm.entry|json}}</code></pre>

         <app-generic-input ng-model=vm.entry.pubmed_id></app-generic-input>
         <app-generic-input ng-model=vm.entry.gene></app-generic-input>
         <app-radio-group ng-model=vm.entry.structure></app-radio-group>
         <app-radio-group ng-model=vm.entry.mutation_type></app-radio-group>
         <app-radio-group ng-model=vm.entry.syntax></app-radio-group>
         <app-generic-input ng-model=vm.entry.syntax_text></app-generic-input>
         <app-radio-group ng-model=vm.entry.operator></app-radio-group>
         <app-choice-slider ng-model=vm.entry.variant_clinical_grade></app-choice-slider>
         <app-select-multiple ng-model=vm.entry.disease></app-select-multiple>

      </form>
   </md-card-content>
</md-card>
