<md-card>
   <md-card-content>
      <h2>Pubmed Entry{{ vm.hello }}</h2>

      <form name=pubmedEntry
            novalidate>

         <app-generic-input
            meta=vm.fields.pubmed_id
            ng-model=vm.entry.pubmed_id
            name=pubmed_id></app-generic-input>

         <app-generic-input
            meta=vm.fields.gene
            ng-model=vm.entry.gene
            name=gene></app-generic-input>

         <app-radio-group
            meta=vm.fields.structure
            ng-model=vm.entry.structure
            name=structure></app-radio-group>

         <app-choice-slider
            meta=vm.fields.variant_clinical_grade
            ng-model=vm.entry.variant_clinical_grade
            name=variant_clinical_grade></app-choice-slider>

         <div>
            <label for="disease">Disease</label>
            <md-chips ng-model="vm.disease"
                      md-autocomplete-snap
                      md-require-match="true">

               <md-input-container>
                  <input name="disease"
                         id="disease"
                         type="text">
               </md-input-container>
               <md-autocomplete
                  md-selected-item="vm.selectedItem"
                  md-search-text="vm.searchText"
                  md-items="item in vm.querySearch(vm.searchText)"
                  md-selected-item-change="vm.selectedItemChange(item)"
                  md-item-text="item.display_name">
                  <md-item-template>
                  <span md-highlight-text="vm.searchText"
                        md-highlight-flags="^i">
                     {{item.display_name}}
                  </span>
                  </md-item-template>
               </md-autocomplete>
               <md-chip-template>{{ $chip.display_name }}</md-chip-template>
            </md-chips>

         </div>

      </form>
   </md-card-content>
</md-card>
