<main class="mdl-layout__content mdl-color--grey-100">
   <div class="mdl-grid">
      {% block breadcrumbs %}
      {% endblock breadcrumbs %}


      {% if messages %}

         {% for message in messages %}
            <div class="alert-box {% if message.tags %}{{ message.tags }}{% endif %} radius"
                 data-alert>
               {{ message }} <a href="#" class="close">&times;</a>
            </div>
            <!-- /.alert-box -->
         {% endfor %}


      {% endif %}

      {% block page_header %}
         <h1>
            {% block page_header_h1 %}

            {% endblock page_header_h1 %}
         </h1>

      {% endblock page_header %}

      {% block content %}
      {% endblock content %}

   </div>
   <!-- /.mdl-grid -->
</main>
<!-- /.mdl-layout__content -->
