{% load i18n core.tags %}

{#<!-- Static navbar -->#}
<nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
      <li class="name">
         <h1><a href="{% url 'home' %}"> Annotation Tool </a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      <!-- /.toggle-topbar menu-icon -->
   </ul>

   <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
         {% if request.user.is_authenticated %}
            <li class="has-dropdown">
               <a href="#">
                  {% block welcome-msg %}
                     {% trans 'Hello' %},
                     <strong>{% firstof request.user.get_short_name request.user.get_username %}</strong>!
                     <span class="caret"></span>
                  {% endblock %}
               </a>
               <ul class="dropdown">
                  {% block userlinks %}

                     {% active_url 'Admin' 'admin:index' %}

                     {% if request.user.is_active and request.user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                           {% active_url 'Documentation' docsroot %}
                        {% endif %}
                     {% endif %}

                     {% if request.user.has_usable_password %}
                        {% active_url 'Change password' 'admin:password_change' %}
                     {% endif %}

                     {% active_url 'Logout' 'account_logout' %}

                  {% endblock %}
               </ul>

               {% block nav-global %}{% endblock %}
            </li>
         {% else %}
            {% block anonymous_userlinks %}
               {% active_url 'Sign Up' 'account_signup' %}
               {% active_url 'Login' 'account_login' %}
            {% endblock anonymous_userlinks %}

         {% endif %}
      </ul>
      <!-- /.right -->


      <!-- Left Nav Section -->
      <ul class="left">
         {% active_url 'Pubmed' 'pubmed:list' %} {% active_url 'API' 'api-root' %}
      </ul>
      <!-- /.left -->
   </section>
   <!-- /.top-bar-section -->
</nav>
