# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,rst,ini,yml,yaml}]
indent_style = space
indent_size = 4

[*.py]
# https://github.com/timothycrosley/isort/wiki/isort-Settings
line_length = 120
known_first_party = annotation_tool
multi_line_output = 3
default_section = THIRDPARTY

[*.{css,scss,json}]
indent_size = 2

[*.html]
indent_size = 3

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
