#!/usr/bin/env bash

RED=`tput setaf 1; tput bold`
GREEN=`tput setaf 2; tput bold`
TITLE=`tput setaf 0; tput bold; tput smul`
STOP=`tput rmul; tput sgr0`
DIM=`tput dim`
NC=`tput sgr0; tput rmul`

echo;
echo "$TITLE                             ENVIRONMENT CONTAINERS                             $STOP"
echo;

while read line || [[ -n $line ]]
do
    workon $line
    echo work on $RED$line$NC
done < .venv

nvm use > /dev/null
echo Using NPM $RED`nvm current`$NC

echo;
echo;
echo "$TITLE                             ENVIRONMENT VARIABLES                              $STOP"
echo;

export PYTHONPATH=$PWD
echo export ${RED}PYTHONPATH${NC}=$DIM$PWD$NC

while read line || [[ -n $line ]]
do
    export $line
    echo export $line\
        | awk -F " |=" '{ gsub(/[a-zA-Z]/, "_", $3) }
                        { gsub(/[0-9]/, "#", $3) }
                        { print $1, $2, $3}'\
        | while read A B C; do echo "$NC$A $GREEN$B$NC=$DIM$C$NC"; done\
        | cut -c 1-115
done < ./.env.production

echo $NC;
echo;
echo "$TITLE                             ENVIRONMENT ALIASES                                $STOP"
echo;

alias  req="pip-compile requirements/local.in &\
            pip-compile requirements/production.in &\
            pip-compile requirements/test.in &\
            wait"
echo "alias ${RED}req$NC            ${DIM}Build requirements files for 'pip'.$NC"

alias local='req && pip-sync requirements/local.txt'
echo "alias ${RED}local$NC          ${DIM}Run $NC${RED}req$NC${DIM} and Sync local requirements.$NC"

alias cov='coverage run manage.py test -v 2 && coverage html && serve:cov'
echo "alias ${RED}cov$NC            ${DIM}Build coverage report and$NC ${RED}serve$NC"

alias serve='django-admin runserver_plus'
echo "alias ${RED}serve$NC          ${DIM}Run Django dev server.$NC"

alias serve:cov='gulp serve:cov'
echo "alias ${RED}serve:cov$NC      ${DIM}Serve coverage HTML pages.$NC"

alias stop='jobs -p |  while read PID; do kill $PID; done; wait'
echo "alias ${RED}stop$NC           ${DIM}Stop servers running in background.$NC"

alias redo='stop && wait && serve'
echo "alias ${RED}redo$NC           ${RED}stop$NC ${DIM}and$NC ${RED}serve$NC"

echo $NC
