#!/usr/bin/env zsh

# Python Virtual Environment
if [[ -z $VIRTUAL_ENV ]]; then
    workon `cat .venv`;
fi

# NVM
nvm use > /dev/null

function set_env {
    # Default param -> 'local'
    if [[ -n $1 || ! -r .env.$1 ]]; then
        1=local;
    fi

    cat .env.$1 \
        | sed -e '/^\s*[;#]/d' -e  's/\(^[A-Z_]\+\)\( \?= \?\)\(\w\+\)/\1=\3/' \
        | while read line || [[ -n $line ]]; do
            export $line
            echo export $line \
                | awk -F " |=" '{ gsub(/[a-zA-Z]/, "_", $3) }
                                { gsub(/[0-9]/, "#", $3)
                                { print $1, $2, $3 }' \
                | while read A B C; do
                        echo "$A $B=$C";
                    done \
                | cut -c 1-115
        done
}

alias req=" \
    pip-compile server/requirements/local.in &\
    pip-compile server/requirements/production.in &\
    pip-compile server/requirements/test.in &\
    wait; wait && \
    pip wheel -r server/requirements/local.txt &\
    pip wheel -r server/requirements/production.txt &\
    pip wheel -r server/requirements/test.txt &\
    wait"
echo "alias req"

alias req:d="git diff --no-ext-diff --word-diff server/requirements/*.txt"
echo "alias req:d"

function stage {
    if [[ -n $1 ]] || ! -r server/requirements/$1.txt ]]; then
        requirements_file=server/requirements/local.txt
    else
        requirements_file=server/requirements/$1.txt
    fi

    if [[ $2 ]]; then
      set_env $1;
     fi

    req && wait && pip-sync $requirements_file
}

echo "alias stage"

alias app="python manage.py"
echo "alias app"

