#!/usr/bin/env bash

while read line || [[ -n $line ]]
do
    workon $line
    echo work on $line
done < .venv

nvm use > /dev/null
echo Using NPM `nvm current`

export PYTHONPATH=$PWD
echo export PYTHONPATH=$PWD

while read line || [[ -n $line ]]
do
    export $line
    echo export $line | awk -F "=" '{ gsub(/[a-zA-Z]/, "*", $2) }
                                   { gsub(/[0-9]/, "#", $2) }
                                   {print $1"="$2;}'
done < .env

alias reqs="pip-compile requirements/local.in &\
            pip-compile requirements/production.in &\
            pip-compile requirements/test.in &\
            wait"
echo alias reqs

alias cov='coverage run manage.py test -v 2 && coverage html'
echo alias cov

alias serve='gulp serve & django-admin runserver_plus &'
echo alias serve

alias serve:cov='gulp serve:cov'
echo alias serve:cov

alias stop='jobs -p | xargs kill'
echo alias stop
