$icon-font-path: '../fonts/';
//@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "select2-bootstrap";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import "django";
@import "rest_framework";
@import "pubmed";

