{% load static rest_framework %}

<!-- Content -->
<div id="content" class="mdl-card mdl-card--expand mdl-cell mdl-shadow--2dp">
   <div class="mdl-card__menu">

      {% if options_form %}
         <form class="button-form" action="{{ request.get_full_path }}" method="POST">
            {% csrf_token %} <input type="hidden"
                                    name="{{ api_settings.FORM_METHOD_OVERRIDE }}"
                                    value="OPTIONS" />
            <button class="mdl-button mdl-js-button mdl-js-button mdl-js-ripple-effect" id="OPTIONS"
            >OPTIONS
            </button>
            <p class="mdl-tooltip"
               for="OPTIONS">Make an OPTIONS request on the {{ name }} resource</p>
         </form>
      {% endif %}


      {% if delete_form %}
         <form class="button-form" action="{{ request.get_full_path }}" method="POST">
            {% csrf_token %} <input type="hidden"
                                    name="{{ api_settings.FORM_METHOD_OVERRIDE }}"
                                    value="DELETE" />
            <button id="DELETE" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-js-button">
               DELETE
            </button>
            <p class="mdl-tooltip" for="DELETE">Make a DELETE request on the {{ name }} resource</p>
         </form>
      {% endif %}

      {% if 'GET' in allowed_methods %}
         <form id="get-form" class="button-form">
            <fieldset>
               {% if api_settings.URL_FORMAT_OVERRIDE %}
                  <a class="mdl-button mdl-js-button mdl-js-ripple-effect"
                     href="{{ request.get_full_path }}"
                     rel="nofollow"
                     id="GET"> GET </a>
                  <p class="mdl-tooltip"
                     for="GET">Make a GET request on the {{ name }} resource
                  </p>

                  <button id="FORMAT"
                          type="button"
                          class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon  mdl-button--primary">
                     <i class="material-icons">more_vert</i>
                  </button>
                  <p class="mdl-tooltip" for="FORMAT">Specify a format for the GET request</p>


                  <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right"
                      for="FORMAT">
                     {% for format in available_formats %}
                        <li>
                           <a class="format-option mdl-menu__item"
                              href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}"
                              rel="nofollow"
                              id="FORMAT-{{ format|slugify }}">
                              {{ format }}
                           </a>

                        </li>
                     {% endfor %}
                  </ul>
                  {% for format in available_formats %}
                     <p class="mdl-tooltip" for="FORMAT-{{ format|slugify }}">
                        Make a GET request on the {{ name }} resource with the format set to `{{ format }}`
                     </p>
                  {% endfor %}

               {% else %}
                  <a class="btn btn-primary js-tooltip"
                     href="{{ request.get_full_path }}"
                     rel="nofollow"
                     title="Make a GET request on the {{ name }} resource">GET</a>
               {% endif %}
            </fieldset>
         </form>
      {% endif %}

   </div>


   <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">{{ name }}</h1>
      {% block description %}
         <p class="mdl-card__subtitle-text">
            {{ description }}
         </p>
      {% endblock %}
   </div>

   {% comment %}
   {% if paginator %}
      <nav>
         {% get_pagination_html paginator %}
      </nav>
   {% endif %}
   {% endcomment %}

   <div class="mdl-card__supporting-text request-info">
      <b>{{ request.method }}</b> {{ request.get_full_path }}

   </div>

   <div class="mdl-card__media response-info">

      {% include 'rest_framework/_code.html' %}


   </div>

</div><!-- /.content -->
