{% extends "base.html" %}

{% load static rest_framework %}


{% block meta %}
   {{ block.super }}
   <meta name="robots" content="NONE,NOARCHIVE" />
{% endblock meta %}



{% block css %}
   {{ block.super }}

   <link rel="stylesheet"
         type="text/css"
         href="{% static "rest_framework/css/default.css" %}" />
   <link rel="stylesheet"
         type="text/css"
         href="{% static "rest_framework/css/prettify.css" %}" />
{% endblock css %}

{% block userlinks %}
   {% optional_logout request user %}
{% endblock userlinks %}

{% block anonymous_userlinks %}
   {% optional_login request %}
{% endblock anonymous_userlinks %}

{% block breadcrumbs %}
   <section class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp">
      {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
         <a class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple" href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a>
      {% endfor %}
   </section>
{% endblock breadcrumbs %}

{% block content %}
   {% include 'rest_framework/_content.html' %}
{% endblock content %}

{% block javascript %}
   {{ block.super }}
   <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
   <script src="{% static "rest_framework/js/default.js" %}"></script>
{% endblock javascript %}
