.form-group.flat-group {
    margin-left:  auto;
    margin-right: auto;
}

#entry-list {
    &__add-entry {
        position:      fixed;
        display:       block;
        right:         0;
        bottom:        0;
        margin-right:  40px;
        margin-bottom: 40px;
        z-index:       900;
    }
    &--table {
        white-space: normal;
        th {
            white-space: nowrap;
        }
    }
}

#entry-form {
    padding: 40px;
}

//label.radio.radio-inline {
//  margin-left: $padding-large-horizontal;
//}
