.mdl-card {
    &__media {
        .prettyprint {
            margin-top:    0;
            margin-bottom: 0;
        }
    }
    &__menu {
        .button-form {
            display: inline-block;
            float:   none;
            margin:  inherit;
        }
    }
}