<md-sidenav class="md-sidenav-left md-whiteframe-z2 app-sidenav"
            md-component-id=left
            md-is-locked-open=$mdMedia('gt-md')
            md-theme=sidenav
            layout=column
            layout-fill>
   <md-toolbar class="md-tall md-hue-2 app-sidenav--toolbar">

      <span flex></span>

      <header class="md-toolbar-tools app-sidenav__header"
              layout=row
              layout-align="space-between end">
         <p class="md-body-1 app-sidenav__header_text"
            ng-show=vm.isAuthenticated()>
            Welcome, <b>{{vm.session.user.username}}</b>!
         </p>

         <p class="md-body-1 app-sidenav__header_text"
            ng-hide=vm.isAuthenticated()>
            Hello <b>stranger</b>, sign in.
         </p>

         <span flex></span>
         <md-menu md-position-mode="target-right target"
                  class=app-sidenav__dropdown>
            <md-button class="md-icon-button md-body-1 app-sidenav__dropdown_button"
                       ng-click=vm.openMenu($mdOpenMenu,$event)>
               <md-icon md-menu-origin>arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content>

               <md-menu-item ng-if=vm.isAuthenticated()>
                  <md-button ui-sref=auth.logout>Logout</md-button>
               </md-menu-item>
               <md-menu-item ng-if=!vm.isAuthenticated()>
                  <md-button ui-sref=auth.login>Login</md-button>
               </md-menu-item>
               <md-menu-item ng-if=!vm.isAuthenticated()>
                  <md-button ui-sref=auth.register>Register</md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
      </header>
   </md-toolbar>

   <md-list class=app-sidenav__list>
      <md-list-item class=app-sidenav__list_item
                    ng-repeat="link in vm.navLinks"
                    ng-if=link.data.condition()>
         <md-button
            ui-sref={{::link.data.route}}
            class="md-body-2 app-sidenav__list_button"
            md-ink-ripple=#E91E63>
            <md-icon class="md-icon md-primary md-hue-1 app-sidenav__list_icon">{{::link.data.icon}}</md-icon>
            <span class=app-sidenav__list_text
                  ng-bind=::link.data.label></span>
         </md-button>
      </md-list-item>
   </md-list>

</md-sidenav>
