<div>
   <label for={{vm.name}}>{{vm.meta.label}}</label>
   <div layout>
      <md-input-container
         flex="20"
         layout
         layout-align="center center">
         <input
            id={{vm.name}}
            name={{vm.name}}
            aria-label={{vm.meta.label}}
            style="text-align:center; margin-right: 10px;"
            type="number"
            flex
            ng-model=vm.value>
      </md-input-container>
      <md-slider
         aria-label={{vm.meta.label}}
         flex
         md-discrete
         ng-model=vm.value
         min="0"
         max="5"></md-slider>
   </div>
</div>
