<div class="choiceSlider">
   <div layout-gt-md="row"
        layout-align-gt-md="start end"
        layout-sm="column">
      <md-input-container flex-gt-md="20"
                          flex-sm>
         <label for={{vm.meta.name}}
                class="md-body-2">{{vm.meta.label}}
         </label>
         <input
            id={{vm.meta.name}}
            name={{vm.meta.name}}
            aria-label={{vm.meta.label}}
            type=number
            ng-class="{'gt-md':vm.gtMd}"
            flex-gt-md
            ng-model=vm.model
            min=0
            max={{vm.meta.choices.length}}
            ng-disabled=vm.meta.read_only
            ng-required={{vm.meta.required}}>
      </md-input-container>
      <md-slider
         aria-label={{vm.meta.label}}
         flex
         md-discrete
         ng-model=vm.model
         min=0
         max={{vm.meta.choices.length}}
         ng-disabled=vm.meta.read_only
         ng-required={{vm.meta.required}}></md-slider>
   </div>
</div>
