<div class="choiceSlider">
   <div layout-gt-md="row"
        layout-align-gt-md="start end"
        layout-sm="column">
      <md-input-container flex-gt-md="20"
                          flex-sm>
         <label for={{field.meta.name}}
                class="md-body-2">{{field.meta.label}}
         </label>
         <input
            id={{field.meta.name}}
            name={{field.meta.name}}
            aria-label={{field.meta.label}}
            type=number
            ng-class="{'gt-md':field.gtMd}"
            flex-gt-md
            ng-model=field.model
            min=0
            max={{field.meta.choices.length}}
            ng-disabled=field.meta.read_only
            ng-required={{field.meta.required}}>
      </md-input-container>
      <md-slider
         aria-label={{field.meta.label}}
         flex
         md-discrete
         ng-model=field.model
         min=0
         max={{field.meta.choices.length}}
         ng-disabled=field.meta.read_only
         ng-required={{field.meta.required}}></md-slider>
   </div>
</div>
