<h1 class="md-body-1 app-page-title"
    layout-margin>Pubmed Entries</h1>
<md-card>
   <md-card-content>
      <md-progress-linear
         class=md-accent
         ng-if=vm.loading
         md-mode=indeterminate>
      </md-progress-linear>
      <md-list ng-if=!vm.loading>
         <md-list-item class=md-3-line
                       ng-repeat="entry in vm.pubmedEntries">
            <article class=md-list-item-text
                     layout=column>
               <h3>Pubmed: {{ entry.pubmed_id }} | Gene: {{ entry.gene }}</h3>

               <p>{{ entry.user.name }}</p>

               <p>{{ entry.comments|limitTo:100 }}</p>
            </article>
            <md-button ng-show=vm.isAuthenticated()&&vm.canChangePubmed()
                       ui-sref=pubmed.edit({id:entry.id})
                       class=md-icon-button
                       aria-label=Edit>
               <md-icon>edit</md-icon>
            </md-button>
         </md-list-item>
      </md-list>
   </md-card-content>
</md-card>

<md-button ng-show=vm.isAuthenticated()&&vm.canAddPubmed()
           class="add-entry md-accent md-raised"
           ui-sref=pubmed.new>Add Entry
</md-button>
