<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-theme="sidenav"
            layout="column">
   <md-toolbar class="md-tall md-hue-2">

      <span flex></span>

      <div class="md-toolbar-tools"
           layout="row"
           layout-align="space-between end"
      >
         <p
            ng-if=main.currentUser>
            Welcome, <b ng-bind=main.currentUser.username></b>!
         </p>

         <p class=md-body-1
            ng-if=!main.currentUser>
            Hello. Sign in.
         </p>
         <span flex></span>
         <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button md-body-1"
                       ng-click="vm.openMenu($mdOpenMenu, $event)">
               <md-icon md-menu-origin>arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content>
               <md-menu-item>
                  <md-button>Logout</md-button>
               </md-menu-item>
               <md-menu-item>
                  <md-button>Login</md-button>
               </md-menu-item>
               <md-menu-item>
                  <md-button>Register</md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
      </div>
   </md-toolbar>

   <md-list>
      <md-list-item>
         <md-button ui-sref="pubmed.list"
                    class="md-accent">
            <md-icon>crop</md-icon>
            <span>Pubmed</span>
         </md-button>
      </md-list-item>
   </md-list>


</md-sidenav>
