<div layout="row" style="height: 100%;" ng-cloak>
  <navbar-side style="height: 100%;"></navbar-side>

  <main flex layout="column" tabindex="-1" role="main">
    <navbar-top></navbar-top>

    <md-content id="content" layout-padding flex>
      <md-card>
        <md-card-content>
          <h2>Pubmed Entries</h2>
          <md-progress-linear class="md-accent"
                              ng-if="main.loading"
                              md-mode="indeterminate"></md-progress-linear>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="entry in main.pubmedEntries">
              <article class="md-list-item-text" layout="column">
                <h3>Pubmed: {{entry.pubmed_id}} | Gene: {{entry.gene}}</h3>

                <p>{{entry.user}}</p>

                <p>{{entry.comments|limitTo:100 }}</p>
              </article>
              <a href="#pubmed/{{ entry.id }}/edit">
                <md-icon>edit</md-icon>
              </a>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-content>

  </main>


</div>

<!--
<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creationDate="main.creationDate" />
    </header>

    <section class="jumbotron">
      <h1>'Allo, 'Allo!</h1>

      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
        <br> Always a pleasure scaffolding your apps.
      </p>
      <md-button class="md-raised animated infinite"
                 ng-class="main.classAnimation"
                 ng-click="main.showToastr()">Splendid Toastr
      </md-button>
      <p>
        With ♥ thanks to the contributions of
        <acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
      </p>
    </section>


  </md-content>

</div>
-->
