{% extends "core/base.html" %}

{% load static rest_framework %}


{% block meta %}
  {{ block.super }}
  <meta name="robots" content="NONE,NOARCHIVE" />
{% endblock meta %}



{% block css %}
  {{ block.super }}

  <link rel="stylesheet"
        type="text/css"
        href="{% static "rest_framework/css/prettify.css" %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static "rest_framework/css/default.css" %}" />
{% endblock css %}

{% block userlinks %}
  {% optional_logout request user %}
{% endblock userlinks %}

{% block anonymous_userlinks %}
  {% optional_login request %}
{% endblock anonymous_userlinks %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
      {% if forloop.last %}
        <li class="active">
          <a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a>
        </li>

      {% else %}
        <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>

      {% endif %}
    {% endfor %}
  </ul>
{% endblock breadcrumbs %}

{% block content %}
  {% include 'rest_framework/_content.html' %}
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
  <script src="{% static "rest_framework/js/default.js" %}"></script>
{% endblock javascript %}
