@mixin app-toast-color($color) {
  .app-toast__ {
    &icon {
      color: $color;

    }
    &action {
      color: $color;
    }
  }
}

.app-toast {
  & {
    max-width: 35%;

  }
  & &__ {
    &icon {
    }
    &title {
      margin-left:  10px;
      margin-right: 10px;
    }
    &message {
    }
    &action {

    }
  }
  &-- {
    &inner {

    }
    &debug {
      @include app-toast-color($clr-lime);
    }
    &info {
      @include app-toast-color($clr-light-blue);
    }
    &success {
      @include app-toast-color($clr-light-green);
    }
    &warning {
      @include app-toast-color($clr-pink);
    }
    &error {
      @include app-toast-color($clr-red);
    }
  }

}
