[md-theme=sidenav] {

  background: $clr-blue-grey-800;
  height:     100%;
  &.md-locked-open {
    width:     240px;
    min-width: 240px;
  }
  md-list {
    padding: 0 0 8px 0;
    .md-button {
      color:       inherit;
      font-weight: 500;
      text-align:  left;
      width:       100%;
      margin:      0;
      padding:     6px 14px;
      > span {
        margin-left: 14px;
      }
    }

  }
}
