temp {

  md-list {

    .md-button {
    }

  }
}

app-sidenav {
  height: 100%;
  .app-sidenav {
    background: $clr-blue-grey-800;
    &.md-locked-open {
      width:     240px;
      min-width: 240px;
    }
    &-- {
      &toolbar {
      }
    }

    &__ {
      &header {
        &_text {

        }
      }
      &dropdown {
        &_button {
        }
      }
      &list {
        //padding: 0 0 8px 0;
        padding-top: 16px;
        &_item {

        }
        &_button {
          //color:       inherit;
          font-weight:    500;
          font-size:      13px;
          text-align:     left;
          width:          100%;
          margin:         0;
          padding:        10px 40px !important;
          text-transform: inherit;
          color:          rgba(255, 255, 255, 0.560784);

          > span {
          }

        }
        &_text {
          //margin-left: 14px;

        }
        &_icon {
          margin-right: 34px;
        }

      }

    }

  }

}
