{% load crispy_forms_utils %}

{% specialspaceless %}
   {% if form_tag %}
      <form {{ flat_attrs|safe }}
         method="{{ form_method }}"
         {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} novalidate>
   {% endif %}
{% if form_method|lower == 'post' and not disable_csrf %}
   {% csrf_token %}
{% endif %}

{% include "flat_form/display_form.html" %}

<select class="form-control select select-primary select-block mbl">
   <optgroup label="Profile">
      <option value="0">My Profile</option>
      <option value="1">My Friends</option>
   </optgroup>
   <optgroup label="System">
      <option value="2">Messages</option>
      <option value="3">My Settings</option>
      <option value="4">Logout</option>
   </optgroup>
</select>

<select multiple="multiple" class="form-control multiselect multiselect-info">
   <option value="0">1</option>
   <option value="1" selected>2</option>
   <option value="2" selected>3</option>
   <option value="3" selected>4</option>
   <option value="4">5</option>
</select>
{% include "flat_form/inputs.html" %}
{% if form_tag %}</form>{% endif %}
{% endspecialspaceless %}
