<!--suppress HtmlFormInputWithoutLabel, XmlDuplicatedId -->
<md-input-container>
   <label for={{::vm.meta.name}}_{{$id}}>{{::vm.meta.label}}</label>
   <input
      ng-if="vm.meta.type === 'string' && vm.meta.max_length"
      type=text
      id={{::vm.meta.name}}_{{$id}}
      name={{::vm.meta.name}}
      ng-model=vm.model
      ng-disabled=::vm.meta.disabled
      ng-maxlength={{::vm.meta.max_length}}
      ng-required={{::vm.meta.required}}>
   <textarea
      ng-if="vm.meta.type === 'string' && !vm.meta.max_length"
      id={{::vm.meta.name}}_{{$id}}
      name={{::vm.meta.name}}
      ng-model=vm.model
      ng-disabled=::vm.meta.disabled
      ng-required={{::vm.meta.required}}
      rows=5></textarea>

   <input
      ng-if="vm.meta.type === 'integer'"
      id={{::vm.meta.name}}_{{$id}}
      type=number
      name={{::vm.meta.name}}
      ng-model=vm.model
      ng-disabled=::vm.meta.disabled
      min={{::vm.meta.min_value}}
      max={{::vm.meta.max_value}}
      ng-required={{::vm.meta.required}}>

   <div ng-messages=vm.form[vm.meta.name].$error
        ng-show=vm.form[vm.meta.name].$dirty>
      <div ng-message=required>This is required!</div>
      <div ng-message=maxlength>Too long! Max length is {{::vm.meta.max_length}}</div>
      <div ng-message=min>Minimum value is {{::vm.meta.min_value}}</div>
      <div ng-message=max>Maximum value is {{::vm.meta.max_value}}</div>
   </div>
</md-input-container>
