{% load crispy_forms_field %}

{% if field.is_hidden %}
   {{ field }}
{% elif field|is_checkboxselectmultiple %}
   {{ field }}
{% elif field|is_radioselect %}
   {% include 'flat_form/layout/input_radioselect.html' %}
{% elif field|is_checkbox %}
   {{ field }}
{% elif field|is_select %}
   {{ field }}
{% else %}
   {% include 'flat_form/layout/input_generic.html' %}

   {#      {% include 'flat_form/layout/help_text_and_errors.html' %}#}
   {#      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">#}
   {% comment %}     {% if form_show_errors %}
         {% for error in field.errors %}
            <p class=help-block>
               {{ error }}
            </p>
         {% endfor %}
      {% endif %}
      {% if field.label %}
         {% if field|is_checkbox %}
            {% crispy_field field %}
         {% endif %}

         <label {% css_class required=field.field.required %}
            for="{{ field.id_for_label }}"
            required="{{ field.field.required }}">
            {{ field.label|safe }}{% if field.field.required %}
               <span class="asteriskField">*</span>{% endif %}
         </label>
      {% endif %}

      {% if not field|is_checkbox %}
         {% crispy_field field %}
      {% endif %}

      {% if field.help_text %}
         <p class="helptext">{{ field.help_text|safe }}</p>
      {% endif %}{% endcomment %}

{% endif %}

