{% load crispy_forms_utils %}

{% specialspaceless %}
   {{ form.media }}
   {% if form_show_errors %}
      {% include "flat_form/errors.html" %}
   {% endif %}

   {% comment %}{% if form_style == "" or form_style %}
   <fieldset class="{{ form_style }}">
   <legend></legend>
{% endif %}{% endcomment %}

   {% for field in form %}
      {% include "flat_form/field.html" %}
   {% endfor %}

   {% comment %}{% if form_style == "" or form_style %}
   </fieldset>
{% endif %}{% endcomment %}
{% endspecialspaceless %}

