{% load crispy_forms_field  crispy_forms_filters  pubmed.tags %}
{#<label for="{{ field.id_for_label }}" {% css_class required=field.field.required %}>#}
{#   {{ field.label|safe|title }}:{% field_required %}#}
{#</label>#}

{% crispy_field field %}
{% comment %}<!-- /#.form-control select select-primary select-block mbl -->
{% for choice in field %}
   <label for={{ choice.id_for_label }} class='radio radio-inline'>
   {{ choice.choice_label|safe }}
   <input type={{ choice.input_type }}
             name='{{ choice.name }}'
          value='{{ choice.value }}'
          data-toggle=radio {{ choice.attrs|flatatt }}> </label>

{% endfor %}{% endcomment %}

