{% extends 'core/base.html' %}{% load crispy_forms_tags static compress %}

{% block css %}
  {{ block.super }}
  {% compress css file %}
    <link href="{% static 'core/styles/select2.css' %}" rel="stylesheet" />
  {% endcompress css %}
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  {% compress js file %}
    <script src="{% static 'core/scripts/select2.js' %}"></script>
    <script src="{% static 'pubmed/scripts/main.js' %}"></script>
  {% endcompress javascript %}
{% endblock javascript %}

{% block page_header_h1 %}
  {{ action_text }} Entry
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}
