<table class="table">
  <thead>
  <tr>

    <td>Pubmed Id</td>
    <td>View</td>
    <td>Edit</td>
    <td>Created</td>
    <td>Updated</td>
    <td>Gene</td>
    <td>Structure</td>
    <td>Mutation</td>
  </tr>
  </thead>
  <tbody>
  {% for entry in entry_list %}
    <tr>
      <th scope="row">{{ entry.pubmed_id }}</th>
      <td>
        <a href="{% url 'pubmed:detail' entry.id %}">
          <span class="fui-eye"></span><span class="sr-only">View</span>
          <!-- /.sr-only -->
        </a>
      </td>
      <td>
        <a href="{% url 'pubmed:update' entry.id %}">
          <span class="fui-new"></span><span class="sr-only">Edit</span>
          <!-- /.sr-only -->
        </a>
      </td>
      <td>{{ entry.created }}</td>
      <td>{{ entry.modified }}</td>
      <td>{{ entry.gene }}</td>
      <td>{{ entry.structure }}</td>
      <td>{{ entry.mutation_type }}</td>
    </tr>
  {% endfor %}

  </tbody>

</table>
