{% extends 'base.html' %}

{% block page_header_h1 %}
   Pubmed Entries
{% endblock page_header_h1 %}

{% block content %}
   <div class="mdl-cell mdl-cell--12-col">

      {% include 'pubmed/_entry_list_items.html' %}
   </div>
   <!-- /.mdl-cell -->

   <div class="mdl-cell mdl-cell--12-col">

      <a href="{% url 'pubmed:create' %}"
         id="entry-list__add-entry"
         class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">

         <i class="material-icons">add</i> New Entry

      </a>
   </div>
   <!-- /.mdl-cell -->



{% endblock %}
