<div layout=row>
   <div flex=33>
      <h1 class='md-body-1 app-page-title'
          layout-margin>Login</h1>
      <md-card>
         <md-card-content>
            <md-progress-linear
               class=md-accent
               ng-if=vm.loading
               md-mode=indeterminate>
            </md-progress-linear>
            <form name=vm.loginForm
                  app-form-meta=::vm.meta
                  ng-submit=::vm.login(vm.credentials)
                  ng-if=!vm.loading
                  novalidate>
               <app-generic-input ng-model=vm.credentials.username></app-generic-input>
               <app-generic-input ng-model=vm.credentials.password></app-generic-input>
               <md-button type=submit
                          class='md-raised md-accent'
                          ng-disabled=vm.loginForm.$invalid>Submit
               </md-button>

            </form>
         </md-card-content>
      </md-card>
   </div>
</div>
