<label for={{ctrl.name}}>{{ ctrl.meta.label }}</label>
<md-chips ng-model=ctrl.value
          md-autocomplete-snap
          md-require-match=true>
   <md-autocomplete
      md-selected-item=ctrl.selectedItem
      md-search-text=ctrl.searchText
      md-items="item in ctrl.querySearch(ctrl.searchText)"
      md-item-text=item.display_name
      md-select-on-match=true
      md-input-name={{ctrl.name}}
      md-input-id={{ctrl.name}}
      md-menu-class="select-multiple-menu">
            <span md-highlight-text=ctrl.searchText>
            {{item.display_name}}
            </span>
   </md-autocomplete>
   <md-chip-template><span>{{ $chip.display_name }}</span></md-chip-template>
</md-chips>
